<div class="cadastro-container">
    <form (ngSubmit)="onSubmit()" #alunoForm="ngForm" class="cadastro-form">
      <h1>Cadastrar Aluno</h1>
      <div class="form-row">
        <label for="nome">Nome</label>
        <input type="text" id="nome" [(ngModel)]="aluno.nome" name="nome" required>
      </div>
      <div class="form-row">
        <label for="categoria">Categoria</label>
        <input type="text" id="categoria" [(ngModel)]="aluno.categoria" name="categoria" required>
      </div>
      <button type="submit" [disabled]="!alunoForm.form.valid">Cadastrar Aluno</button>
    </form>
  </div>
  