<div class="confrontos-container">
  <h2 class="titulo">Rodada Atual: {{ rodadaAtual }}</h2>
  <label for="rodada" class="label">Selecione a Rodada:</label>
  <select id="rodada" [(ngModel)]="rodadaAtual" (ngModelChange)="carregarConfrontosSalvos()" class="dropdown">
    <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]="i">Rodada {{ i }}</option>
  </select>
  <button (click)="sortearConfrontosPorRodada()" class="botao">Sortear Confrontos da Rodada</button>
  <h3 class="titulo">Confrontos:</h3>
  <ul *ngIf="confrontosProcessados.length > 0" class="lista-confrontos">
    <li *ngFor="let confronto of confrontosProcessados" class="confronto-item">
      <p>{{ confronto.confronto }}</p>
      <div class="set">
        <label>1º Set:</label>
        <input type="text" [(ngModel)]="confronto.set1a"> x <input type="text" [(ngModel)]="confronto.set1b">
      </div>
      <div class="set">
        <label>2º Set:</label>
        <input type="text" [(ngModel)]="confronto.set2a"> x <input type="text" [(ngModel)]="confronto.set2b">
      </div>
      <div class="set">
        <label>Tiebreak:</label>
        <input type="text" [(ngModel)]="confronto.tiebreaka"> x <input type="text" [(ngModel)]="confronto.tiebreakb">
      </div>
    </li>
  </ul>
  <p *ngIf="confrontosProcessados.length === 0" class="mensagem">Nenhum confronto disponível para esta rodada.</p>

  <button (click)="salvarConfrontos(confrontosProcessados)" class="botao">Salvar Resultado</button>
</div>
