.confrontos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .titulo {
    color: #032842;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .label {
    color: #032842;
    font-size: 18px;
  }

  .dropdown {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #032842;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }

  .botao {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #032842;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    background-color: #ccc;
  }

.confronto-item {
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  
  .set {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50px;
  }

  .mensagem {
    color: #032842;
    font-size: 18px;
  }

.lista-confrontos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}