<div>
  <h2>Rodada Atual: {{ rodadaAtual }}</h2>
  <label for="rodada">Selecione a Rodada:</label>
  <select id="rodada" [(ngModel)]="rodadaAtual">
    <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]="i">Rodada {{ i }}</option>
  </select>
  <button (click)="sortearConfrontosPorRodada()">Sortear Confrontos da Rodada</button>
  <hr>
  <h3>Confrontos:</h3>
  <ul>
    <li *ngFor="let confronto of confrontos">
      <p>{{ confronto.confronto }}</p>
      <div>
        <label>1º Set:</label>
        <input type="text" [(ngModel)]="confronto.set1a"> x <input type="text" [(ngModel)]="confronto.set1b">
      </div>
      <div>
        <label>2º Set:</label>
        <input type="text" [(ngModel)]="confronto.set2a"> x <input type="text" [(ngModel)]="confronto.set2b">
      </div>
      <div>
        <label>Tiebreak:</label>
        <input type="text" [(ngModel)]="confronto.tiebreaka"> x <input type="text" [(ngModel)]="confronto.tiebreakb">
      </div>
      <button (click)="salvarResultado(confronto)">Salvar Resultado</button>
      <hr>
    </li>
  </ul>
</div>
