.custom-footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8EA9DB;
    padding: 20px 0;
    text-align: center;
}

.custom-footer p {
    color: #032842;
    font-size: 18px;
    margin-bottom: 10px;
}

.custom-footer .email-button {
    display: inline-block;
    padding: 3px 10px;
    background-color: #ccc;
    color: #183628;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.custom-footer .email-button:hover {
    background-color: #188bc0;
}
