.custom-header {
    text-align: center;
    background-color: #8EA9DB;
    padding: 0px;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    h1 {
        color: #032842;
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .header-buttons {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .header-buttons button {
        background-color: transparent;
        border: none;
        color: 032842;
        margin-left: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: color 0.3s;
    }

    .header-buttons button:hover {
        color: #032842;
    }
}
