.custom-header {
    text-align: center;
    background-color: #183628;
    padding: 20px 0;

    h1 {
        color: #00a74a;
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        border-bottom: 2px solid #f4c20d;
        padding-bottom: 10px;
        display: inline-block;
    }

    .header-buttons {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .header-buttons button {
        background-color: transparent;
        border: none;
        color: white;
        margin-left: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: color 0.3s;
    }

    .header-buttons button:hover {
        color: #f4c20d;
    }
}
