.jogadores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 54vh; /* Mantém o max-height */
  overflow-y: auto; /* Garante que o overflow seja auto */
  margin: 0 auto;
}

.titulo {
  color: #032842;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.jogadores-lista {
  list-style: none;
  padding: 0;
  margin: 20px 0; /* Ajusta as margens */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jogador-item {
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(100% - 40px); /* Ajusta a largura para caber com padding */
  max-width: 300px; /* Define uma largura máxima */
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Garante layout em coluna */
  align-items: center; /* Alinha itens no centro */
}

.botao-excluir {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #032842;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-excluir:hover {
  background-color: #757272;
}
