<div class="menu-container">
  <button routerLink="/cadastro" class="menu-button">Cadastro de Jogadores</button>
  <button routerLink="/ranking" class="menu-button">Ver Ranking</button>
  <button routerLink="/historico" class="menu-button">Ver Histórico de Confrontos</button>
  <button routerLink="/confrontos" class="menu-button">Confrontos da Rodada</button>
  <button routerLink="/jogadores" class="menu-button">Ver Jogadores</button>
  <button routerLink="/torneios" class="menu-button">Torneios</button>
</div>
