.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #032842;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  li {
    background-color: #d3d3d3;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  div {
    text-align: center;
    color: #032842;
    font-size: 18px;
    margin-top: 20px;
  }
  