<div class="cadastro-container">
  <h1>Cadastro de Jogadores</h1>
  <form (submit)="salvarJogador()" class="cadastro-form">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="jogador.nome" name="nome" required>
  
      <label for="sobrenome">Sobrenome:</label>
      <input type="text" id="sobrenome" [(ngModel)]="jogador.sobrenome" name="sobrenome" required>
  
      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="text" id="dataNascimento" [(ngModel)]="jogador.dataNascimento" name="dataNascimento" required>
  
      <button type="submit">Salvar</button>
  </form>
</div>
