<div class="torneios-container">
    <h2 class="titulo">Lista de Torneios Cadastrados</h2>
    <ul class="lista-torneios">
        <ng-container *ngIf="torneios && torneios.length > 0; else semTorneios">
            <li *ngFor="let torneio of torneios" class="torneio-item">
                <a [routerLink]="['/torneio', torneio.id]">
                    <h3>{{ torneio.nome }}</h3>
                    <p>Data: {{ torneio.data }}</p>
                    <p>Horário: {{ torneio.horario }}</p>
                    <p>Local: {{ torneio.local }}</p>
                </a>
            </li>
        </ng-container>
        <ng-template #semTorneios>
            <p>Não existem torneios no momento.</p>
        </ng-template>
    </ul>
</div>
