<div class="menu-container">
    <h2 class="titulo">{{ ranking.nome }}</h2>
    <button (click)="cadastrarJogadorRanking()" class="menu-button">Cadastro de Jogadores</button>
    <button (click)="verRanking()" class="menu-button">Ver Ranking</button>
    <button (click)="verHistoricoConfrontos()" class="menu-button">Ver Histórico de Confrontos</button>
    <button (click)="verConfrontos()" class="menu-button">Confrontos da Rodada</button>
    <button (click)="verJogadores()" class="menu-button">Ver Jogadores</button>
</div>
