.cadastro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.cadastro-form {
    width: 90%;
    padding: 20px;
    background-color: #f4c20d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #00a74a;
    margin-bottom: 20px;
    text-align: center;
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    color: #00a74a;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #00a74a;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #00a74a;
    color: #f4c20d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007e36;
}

.erro-mensagem {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
