.tabela-wrapper {
    overflow-x: auto; 
    max-width: 100%; 
}

.tabela {
    width: 1700px;
    border: none;
}

body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

.nome-torneio-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  margin-bottom: 20px;
  text-align: center;
}

.nome-torneio-container h2 {
  margin: 0;
}

  .botao-salvar {
    background-color: #188BC1;
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; 
}

.container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


  .celula-jogador {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 500px;
    padding: 0;
}

.celula-jogador select {
    width: calc(100% - 2px);
    box-sizing: border-box; 
    border: none; 
    padding: 0;
    text-align: center;
}

.input-horario input {
    width: 90%; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    padding: 5px;
  }

  .qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .qr-code {
    max-width: 80px;
    height: auto; 
  }

  .qr-code-message {
    text-align: center;
    margin-bottom: 0px; 
    margin-top: 40px;
    font-size: 13px;
  }

  .qr-code-message2 {
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 0px;
    font-size: 13px;
  }
  
.celula-jogo {
    position: relative;
    border: none;
    text-align: center;
    color: black;
    font-size: 80%;
    padding: 0;
}  


.celula-resultado {
    width: 100px;
    text-align: center;
    border: 1px solid black;
    position: relative; 
}

/* Estilo para a caixa de texto */
.celula-resultado input[type="text"] {
    width: calc(100% - 2px); /* 100% da largura da célula, menos a largura da borda */
    height: calc(100% - 2px); /* 100% da altura da célula, menos a largura da borda */
    box-sizing: border-box; /* Garante que a largura e altura incluam bordas */
    border: none; /* Remove a borda da caixa de texto */
    padding: 0; /* Remove o preenchimento */
    position: absolute; /* Posicionamento absoluto para ocupar toda a célula */
    top: 0; /* Posiciona no topo da célula */
    left: 0; /* Posiciona à esquerda da célula */
    text-align: center;
}

.celula-fase {
    border: 1px solid black; /* Estilo da borda */
    text-align: center; /* Alinhamento do texto */
    font-weight: bold; /* Torna o texto em negrito */
    color: black; /* Define a cor do texto */
    background-color: #188BC1; /* Define a cor de fundo da célula */
}

.celula-borda-acima-direita {
    width: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: transparent;
    border-left: transparent;
}

.celula-borda-abaixo-direita {
    width: 20px;
    border-top: transparent;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: transparent;
}

.celula-borda-abaixo-esquerda {
    width: 20px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.celula-borda-esquerda {
    width: 20px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-left: 5px solid black;
}

.celula-borda-esquerda-acima {
    width: 20px;
    border-top: 5px solid black;
    border-right: transparent;
    border-bottom: transparent;
    border-left: 5px solid black;
}

.celula-borda-abaixo {
    width: 20px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 5px solid black;
    border-left: transparent;
}

.celula-borda-acima {
    width: 20px;
    border-top: 5px solid black;
    border-right: transparent;
    border-bottom: transparent;
    border-left: transparent;
}

.celula-meio-sem-borda {
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-left: transparent;
}

.celula-meio-borda-acima {
    border-top: 1px solid black;
    border-right: transparent;
    border-bottom: transparent;
    border-left: transparent;
}

.celula-meio-borda-abaixo {
    border-top: transparent;
    border-right: transparent;
    border-bottom: 1px solid black;
    border-left: transparent;
}


input[disabled], select[disabled] {
    color: black !important;
  }
  

  select[disabled] option {
    color: black !important;
  }
  

  select[disabled] option:not(:checked) {
    color: black !important;
  }
  

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  